:root {
  --primary-color: #d5eeff;
  --secondary-color: #005689;
  --third-color: rgba(255, 137, 93, 0.3);
  --box-shadow: 5px 10px 30px rgb(0, 0, 0, 0.2);
  --heading-font-family: "Neuton", serif;
  --default-font: "Roboto" sans-serif;
}

body {
  margin-top: 100px !important;
}

img {
  display: block;
  max-width: 70% !important;
}

.greeting,
.subheading,
p {
  text-align: center;
  margin: 0;
  font-family: var(--default-font);
  margin-bottom: 0 !important;
  font-weight: 500;
}
h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 50px !important;
  text-align: center;
}

h5 {
  text-align: center;
  color: var(--secondary-color) !important;
}

.name {
  text-align: center;
  font-size: 80px !important;
  font-family: var(--heading-font-family);
}

.header,
.footer,
.baleada-type,
.about {
  background-color: var(--primary-color);
  padding-top: 20px;
  border-radius: 10px;
}

.about {
  padding-bottom: 10px;
}

.baleada-type {
  margin-left: 2px;
  margin-right: 4px;
}
.fun-fact-baleadas {
  background-color: var(--third-color);
  border-radius: 10px;
  padding-right: 2px;
}
.footer {
  padding: 30px 120px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: bold !important;
  color: var(--secondary-color) !important;
 
}

.navbar{
   background-color: white;
}

.items .nav-link,
.home-link {
  color: var(--secondary-color);
}

.baleada-button {
  color: white !important;
  background-color: var(--secondary-color) !important;
  opacity: 100;
  margin-top: 15px;
  border: 1px solid var(--secondary-color) !important;
  padding: 20px !important;
  margin: 15px !important;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--box-shadow) !important;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.github-link {
  text-decoration: none !important;
  color: black !important;
  opacity: 70%;
}

.d-md-flex {
  display: flex !important;
  justify-content: center;
}

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
  align-content: space-around;
}
